body {
  font-family:      Verdana, Geneva, Arial, sans-serif;
  font-size:        medium;
  margin-top:       0%;
  margin-bottom:    0%;
  margin-left:      0%;
  margin-right:     0%;
  border:           0px solid gray;
  text-align:       center;
}

h2 {
  font-size:        150%;
}

.sideways {
  writing-mode:     vertical-lr;
  text-orientation: upright;
  text-align:       right;
}

div {
  display:          inline-block;
  margin:           auto;
  width:            auto;
}

.page-break {
  display:          inline-block;
  page-break-after: always;
}


/*** Tables ***/

table {
margin:             auto;
margin-bottom:      -1px;
margin-right:       -1px;
caption-side:       bottom;
border:             0px solid #909090;
color:              #2a2a2a;
border-collapse:    collapse;
}

td, th {
padding:            0px;
text-align:         center;
vertical-align:     center;
border:             noborder;
font-size:          75%;
color:              #454545;
border-collapse:    collapse;
}

th {
min-width:          6mm;
}

tr {
height:             6mm;
}

.holiday {
min-width:          6mm;
color:            rgb(168, 0, 0);
}

.border-bottom {
border-bottom:      1px solid #909090;
}

.border-top {
border-top:         1px solid #909090;
}

.border {
border:             1px solid #909090;
}

.week {
vertical-align:     middle;
border-left:        1px solid #909090;
border-top:         1px solid #909090;
min-width:          6mm;
padding-top:        1px;
}

.border-right {
border-right:       1px solid #909090;
}

.weekgrp1 {
background-color:   #62cdff;
}

.weekgrp2 {
background-color:   #e9e938;
}

.freegrp2 {
background-color:   #ebb43e;
}

.freegrp1 {
background-color:   #44c79b;
}

.sunday {
border-bottom:      1px solid black;
}

.monday {
border-top:         1px solid #909090;
}
