<!doctype html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JG - Schemagenerator</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/w3.css" />
        <link rel="stylesheet" href="/static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <script src="https://kit.fontawesome.com/3ca9482f51.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="w3-container w3-theme w3-padding-24 w3-center">
        <h1 class="w3-jumbo">JG</h1>
        </div>
        <div class="w3-container w3-padding-32">

        {% block body %}

        {% endblock %}
        
        </div>
        <div class="w3-container w3-theme-dark w3-padding-16">
            <p><span class="w3-small">Copyright</span> <i class="far fa-copyright fa-sm"></i> <span class="w3-small">2020-2022 Joakim Gustafsson</span> <span class="w3-right"><a href="mailto:jocke.gustafsson@gmail.com"><i class="far fa-envelope"></i></a></span></p>
        </div>
    </body>
</html>
