<!doctype html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JG - Schemagenerator</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/w3.css" />
        <link rel="stylesheet" href="/static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body class="w3-content w3-card-4">
        <div id="gradient" class="w3-container">
        <h1 class="w3-jumbo">JG</h1>
        </div>
        <div class="w3-container" style="background-color: #ffffff;">

        {% block body %}

        {% endblock %}
        
        </div>
        <div class="w3-container w3-theme-dark w3-small"><p>&copy; 2020 Joakim Gustafsson <a href="mailto:jocke.gustafsson@gmail.com"><i class="material-icons w3-small">email</i></a></p></div>
    </body>
</html>
