{% extends 'base.html' %}

{% block body %}

<div class="w3-container w3-center">
    <h3>Schemagenerator</h3>

    <form method='POST' action='/schema'>
    <p>Ange vilket år du vill generera schema för:</p>
    <p>År:<input name='year' type='TEXT' width='200' required></p>        
    <p><input value='Visa schema' type='SUBMIT'>
        <input value='Skapa pdf' type='submit' formaction="/pdf">
    </p>
    </form>
</div>
<div class="w3-container w3-center">
    <h3>Löneuträkning</h3>

    <form method="post" action="/loneutrakning">
        <p>Grundlön (inkl. tillägg):<input type="text" name="salary" width="150"></p>
        <p>År:<input name='year' type='TEXT' width='200' required></p>
        <input type="radio" name="shift" value="1" checked>Skift 1
        <input type="radio" name="shift" value="2">Skift 2
        <input type="radio" name="shift" value="3">Skift 3
        <input type="radio" name="shift" value="4">Skift 4
        <input type="radio" name="shift" value="5">Skift 5
        <p><input value='Räkna ut lön' type='submit'></p>
    </form>
</div>

{% endblock %}
