{% extends 'base.html' %}

{% block body %}

    {% for row in datum %}
    <div class="page-break">
    <table>
        <tr><th colspan="6"><h3>{{ year }}</h3></th></tr>
        <tr>
            {% for month in row %}
            <td class="month" style="vertical-align: top;">
                <table>
                    <th class="month" colspan="9">{{ format_date(month[1][0], "MMMM", locale='sv_SE').title() }}</th>
                    <tr>
                        <td rowspan="2" colspan="2">
                            Vecka
                        </td>
                        <td rowspan="2">
                            Dat
                        </td>
                        <td rowspan="2">
                            Dag
                        </td>
                        <th colspan="5">
                            Skift
                        </th>
                    </tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    
                    {% for week in month %}
                        <tr>
                            <td class="week{% if int(week[0].strftime('%V')) in vacationgrp1 %} weekgrp1{% elif int(week[0].strftime('%V')) in vacationgrp2 %} weekgrp2{% elif int(week[0].strftime('%V')) in freegrp1 %} freegrp1{% elif int(week[0].strftime('%V')) in freegrp2 %} freegrp2{% endif %}" 
                                rowspan="{{ week_len(week, month, row) }}">{{ int(week[0].strftime('%V')) }}</td>
                        
                            {% for day in week %}
                            {% if day.month == row.index(month) +1 or day.month == row.index(month) +7 %}

                            
                            <td class="border {% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{% if day in holidays_se %}{{ helgdagar.get(holidays_se[day]) }}{% endif %}</td>
                            <td class="datum {% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ day.strftime('%d') }}</td>
                            <td class="{% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ format_date(day, "E", locale='sv_SE') }}</td>
                            <td class="{% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ shift_day(day, 1) }}</td>
                            <td class="{% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ shift_day(day, 2) }}</td>
                            <td class="{% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ shift_day(day, 3) }}</td>
                            <td class="{% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ shift_day(day, 4) }}</td>
                            <td class="{% if day.isoweekday() == 1 or day.day == 1 %}monday{% endif %}">{{ shift_day(day, 5) }}</td>
                        </tr>

                            {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    
                </table>
            </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Skift 1: Richard Juthe</td>
            <td>Skift 2: Kenth Andersson</td>
            <td>Skift 3: Maria Karlsson</td>
            <td>Skift 4: Mats Mankinen</td>
            <td>Skift 5: Keijo Jakkonen</td>
            <td></td>
        </tr>
        <tr>
            <td>Fi = 05:45 - 15:30</td>
            <td>F = 05:45 - 14:00</td>
            <td>E = 13:45 - 22:00</td>
            <td>N = 21:45 - 06:00</td>
            <td>D = 05:45 - 18:00</td>
            <td>Na = 17:45 - 06:00</td>
        </tr>
        <tr>
            <td></td>
            <td class="weekgrp1">Semester grupp 1</td>
            <td class="freegrp1">Ledig i schema grupp 1</td>
            <td class="weekgrp2">Semester grupp 2</td>
            <td class="freegrp2">Ledig i schema grupp 2</td>
            <td></td>
        </tr>
    </table>
    </div>
    
    {% endfor %}

{% endblock %}
